<!--<app-spinner *ngIf="loading"></app-spinner>
<div style="width: 90%;">
<button id="Mover" type="button" class="btn btn-primary">Registrar</button>
  <ng-container *ngIf="!loading">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Fecha de creación</th>
          <th scope="col">Es top 10</th>
          <th scope="col">...</th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="student.isTop10 ? 'table-success' : 'table-danger'" *ngFor="let student of students">
          <th scope="row">{{ student.id }}</th>
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.createdAt | date }}</td>
          <td>{{ student.isTop10 }}</td>
          <td>
            <button (click)="student.alternarTop10()" class="btn btn-primary">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>-->



<app-formulario></app-formulario>
